.backgroundmovement1 {
  animation-name: backgroundmovement_kf;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes backgroundmovement_kf {
  0% {
    left: 100%;
    top: 80%;
    background-color: orange;
  }
  100% {
    left: 10%;
    top: -50%;
    background-color: yellow;
  }
}

.backgroundcolor {
  animation-name: backgroundcolor_kf;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes backgroundcolor_kf {
  0% {
    background-color: black;
  }
  25% {
    background-color: lightblue;
  }
  100% {
    background-color: var(--C-green);
  }
}

/* wave animationer */
.wave_anim1 {
  animation-name: wave_anim1_kf;
  animation-duration: 7s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes wave_anim1_kf {
  0% {
    transform: translate1(-10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.delay1 {
  animation-delay: 0.5s;
}

.delay2 {
  animation-delay: 0.8s;
}
.delay3 {
  animation-delay: 1s;
}
.delay4 {
  animation-delay: 1.2s;
}

.pilned_anim {
  animation-name: pilned_anim_kf;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes pilned_anim_kf {
  0% {
    transform: translate1(-5px);
  }
  50% {
    transform: translatey(7px);
  }
  100% {
    transform: translatey(0);
  }
}

.fade_in {
  animation-name: fade_in_anim_kf;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
@keyframes fade_in_anim_kf {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
