img {
  height: auto;
  width: 100%;
  object-fit: cover;
  align-self: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--C-lightgreen);

  /* Custom CSS properties */

  /* fonte */
  --F-h1: "Fira Sans Condensed", sans-serif;
  --F-h2: "Lato", sans-serif;
  --F-h3: "Alegreya Sans", sans-serif;
  --F-p: "Duru Sans", sans-serif;

  /* farver */
  --C-darkpurple: #4a1942;
  --C-purple: #893068;
  --C-lightpurple: #d0acc3;

  --C-darkgreen: #7c896f;
  --C-green: #a4b494;
  --C-lightgreen: #bec5ad;

  --C-black: #070606;
  --C-grey: #666666;
  --C-lightgrey: #cacaca;
  --C-white: #f7f7f7;

  /* afstande */
  --D-lrgst: 6rem;
  --D-lrgr: 4rem;
  --D-lrg: 3rem;
  --D-mdm: 2rem;
  --D-sml: 1rem;
  --D-smlr: 0.5rem;
  --D-smlst: 0.2rem;

  /* størrelser */
  --S-lrgst: 5rem;
  --S-lrgr: 6rem;
  --S-lrg: 3rem;
  --S-mdm: 2cqw;
  --S-sml: 1.6rem;
  --S-smlr2: 1.4cqw;
  --S-smlr: 1.1rem;
  --S-smlst: 0.8rem;
  --S-mini: 0.2rem;

  /* animationer */
  --A-sftst: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  --A-sftr: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  --A-sft: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* -- Tekst style -- */
h1 {
  font-family: var(--F-h1);
  font-size: var(--S-lrgr);
  color: var(--C-darkpurple);

  margin-top: var(--D-mdm);
  margin-bottom: var(--D-mdm);
}
h2 {
  font-family: var(--F-h2);
  font-size: var(--S-lrg);
  color: var(--C-black);

  margin-top: var(--D-sml);
  margin-bottom: var(--D-sml);
}
h3 {
  font-family: var(--F-h3);
  font-size: var(--S-sml);
  color: var(--C-black);

  margin-top: var(--D-sml);
  margin-bottom: var(--D-sml);
}

p {
  color: var(--C-black);
  font-family: var(--F-p);
  font-size: var(--S-smlr);
  line-height: var(--S-lrg);
}

.billedebeskriv {
  font-family: var(--F-p);
  font-size: var(--S-smlst);
  color: var(--C-black);
  margin-top: var(--D-smlr);
  margin-bottom: var(--D-sml);
}

.lighttext {
  color: var(--C-white);
}
.darktext {
  color: var(--C-black);
}

a {
  text-decoration: none;
}

/* -- CTA-knapper */
.cta1 {
  max-height: 60%;
  max-width: 100%;
  padding: var(--S-smlr) var(--S-smlr) var(--S-lrg) var(--S-smlr);
  margin-bottom: var(--D-lrg);
  font-family: var(--F-h2);
  font-size: var(--S-sml);
  color: var(--C-lightpurple);
  background-color: var(--C-grey);
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;

  box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.48);

  transition: var(--A-sftst);
}

.cta1:hover {
  transform: scale(1.03);
  transition: var(--A-sftr);
  color: var(--C-white);
}

.cta1:active {
  transform: scale(0.98);
  transition: var(--A-sftr);

  box-shadow: 2px 11px 27px -22px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 2px 11px 27px -22px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 2px 11px 27px -22px rgba(0, 0, 0, 0.42);
}

.cta2 {
  width: 15vw;
  height: auto;

  padding: var(--D-sml) var(--D-mdm) var(--D-sml) var(--D-mdm);
  margin: var(--D-mdm);
  font-family: var(--F-h2);
  font-size: var(--S-sml);
  color: var(--C-lightpurple);
  background-color: var(--C-purple);
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.48);

  transition: var(--A-sftst);
}

.cta2:hover {
  transform: scale(1.1);
  transition: var(--A-sftr);
  color: var(--C-white);

  box-shadow: 2px 31px 27px -5px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 2px 31px 27px -5px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 2px 31px 27px -5px rgba(0, 0, 0, 0.54);
}

.cta2:active {
  transform: scale(0.9);
  transition: var(--A-sft);

  box-shadow: 2px 11px 27px -22px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 2px 11px 27px -22px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 2px 11px 27px -22px rgba(0, 0, 0, 0.42);
}

/* CTA selected klasser */
.cta1_selected {
  transform: scale(1.03);
  transition: var(--A-sftr);
  color: var(--C-white);
}

.cta2_selected {
  transform: scale(1.1);
  transition: var(--A-sftr);
  color: var(--C-white);

  box-shadow: 2px 31px 27px -5px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 2px 31px 27px -5px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 2px 31px 27px -5px rgba(0, 0, 0, 0.54);
}

/* -- Billede styling -- */
.imgTyp1 {
  margin-top: var(--D-sml);
  margin-bottom: var(--D-sml);
  border-radius: 3px;
  max-height: 25rem;
}

.imgTyp2 {
  border-radius: 3px;
}

.imgtyp1container {
  display: grid;
  place-items: start;
  min-width: 90vw;
}
.imgtyp1container img,
h1 {
  grid-area: 1/1;
}

.imgtyp1container img,
.tekstipic {
  grid-area: 1/1;
}

.imgtyp1container h1 {
  padding-left: var(--D-sml);
  margin-top: auto;

  -webkit-text-stroke: var(--C-darkpurple);
  -webkit-text-stroke-width: 1px;
}

.imgtyp1container .tekstipic {
  padding-left: var(--D-sml);
  margin-top: auto;
  transition: var(--A-sft);
  color: var(--C-darkpurple);

  padding-left: 15%;
  padding-right: 10%;
}

.imgtyp1container:hover .tekstipic {
  transform: scale(0.9);
  transition: var(--A-sftr);
  color: var(--C-purple);
}
/* Slider style */
.grid1-1-1-1 .imgtyp1container h2 {
  color: var(--C-green);
  background-color: var(--C-darkpurple);
  padding: var(--S-smlr);
  padding-left: var(--S-lrgst);
  border-radius: 0 3px 3px 0;
}

.img1-1 {
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: auto;
}

.img1-2 {
  aspect-ratio: 1/2;
  object-fit: cover;
  margin: auto;
}

.imgauto {
  object-fit: cover;
  height: 100%;
}

/* Wave dividers image */
.wave_divider {
  display: inherit;
  width: 100%;
  z-index: 30;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
/* INDEX */
#herosection {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  background-color: var(--C-green);
}

#backgroundblur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  filter: blur(30px);
}

.dot1 {
  height: 30%;
  width: 20%;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: -50%;
}

/* HEROTEKST */
.herotext_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 21%;
  left: 23.5%;
  z-index: 10;
}

.herotext {
  width: 100%;
  height: 100%;
  color: var(--C-purple);
  font-size: 15cqw;
  user-select: none;
}

.subherotext_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 51.5%;
  left: 66%;
  z-index: 10;
}

.subherotext {
  width: 100%;
  height: 100%;
  color: var(--C-grey);
  font-family: var(--F-h2);
  font-size: 3.5cqw;
  user-select: none;
}

/* Bølger */
#wavesprites {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 11;
}

#wave1_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1920/1080;
  top: 6%;
}
#wave1 {
  width: 100%;
  height: 100%;
  background-image: url(../media/wave1.svg);
  background-size: cover;
}

#wave2_container {
  position: absolute;
  width: 90%;
  aspect-ratio: 16/9;
  top: 11%;
}
#wave2 {
  width: 100%;
  height: 100%;
  background-image: url(../media/wave2.svg);
  background-size: cover;
}

#wave3_container {
  position: absolute;
  width: 70%;
  aspect-ratio: 16/9;
  top: 25%;
}
#wave3 {
  width: 100%;
  height: 100%;
  background-image: url(../media/wave3.svg);
  background-size: cover;
}

#wave4_container {
  position: absolute;
  width: 60%;
  aspect-ratio: 16/9;
  top: 35%;
}
#wave4 {
  width: 100%;
  height: 100%;
  background-image: url(../media/wave4.svg);
  background-size: cover;
}

#wave5_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;
  top: 0%;
}
#wave5 {
  width: 100%;
  height: 100%;
  background-image: url(../media/wave5.svg);
  background-size: cover;
}

/* Sectionstyling */
#section1 {
  background-color: var(--C-lightgreen);
  height: auto;
  padding-top: var(--D-lrgst);
  padding-bottom: var(--D-sml);
}

#section2 {
  background-color: var(--C-lightpurple);
  height: auto;
  padding-bottom: var(--D-sml);
}

#section3 {
  background-color: var(--C-purple);
  height: auto;
  padding-bottom: var(--D-sml);
}

#section4 {
  background-color: var(--C-darkgreen);
  height: auto;

  padding-bottom: var(--D-sml);
}

#section5 {
  background-color: var(--C-lightpurple);
  height: auto;
  padding-top: var(--D-sml);
  padding-bottom: var(--D-smlst);
}

#section6 {
  background-color: var(--C-darkgreen);
  height: auto;
  padding-top: var(--D-lrgst);
  padding-bottom: var(--D-smlst);
}

/* Tekstboksstyling */
.tekstbox {
  margin-top: var(--D-mdm);
  margin-bottom: var(--D-mdm);
}

footer {
  background-color: var(--C-lightgreen);
  height: auto;
  padding: var(--D-lrgst) var(--D-lrgst) var(--D-sml) var(--D-lrgst);
}
.footerlink {
  text-decoration: none;
  color: var(--C-darkpurple);
  font-family: var(--F-h3);
  font-size: var(--S-mdm);
  transition: var(--A-sftst);
}

footer .grid1-1-1 {
  height: 20rem;
}

.footerunderlink {
  text-decoration: none;
  color: var(--C-purple);
  font-family: var(--F-h2);
  font-size: var(--S-smlr);
  transition: var(--A-sftst);
  letter-spacing: 0.1rem;
}

.footerlink:hover,
.footerunderlink:hover {
  color: var(--C-white);
  transition: var(--A-sftr);
}

.footerafslutning {
  font-family: var(--F-p);
  font-size: var(--S-smlst);
  color: var(--C-grey);
  margin-top: var(--D-lrg);
}

@media (max-width: 1060px) {
  .footerunderlink {
    border-right: 2px solid var(--C-white);
    border-left: 2px solid var(--C-white);
    height: auto;
    margin-right: 1rem;
  }
  .footerlink {
    margin: auto;
  }
}
.hr1 {
  border: var(--C-darkpurple) solid 3px;
  margin: var(--D-sml) var(--D-lrg) var(--D-sml) var(--D-lrg);
}

/* Ikoner */
.pil_container {
  position: absolute;
  width: 6%;

  top: 77%;
  left: 47.5%;
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.507);
  padding: var(--S-smlr2);
  z-index: 30;
  aspect-ratio: 41/35;
}

.pilned {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../media/ikon_pilned.svg);
}

.pil_left_container {
  position: inherit;
  width: 5rem;

  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.507);
  padding: var(--S-smlr);
  z-index: 20;
  aspect-ratio: 30/38;
}

.pil_left {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../media/ikon_pil_left.svg);
}

.pil_right_container {
  position: inherit;
  width: 5rem;

  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.507);
  padding: var(--S-smlr);
  z-index: 20;
  aspect-ratio: 30/38;
}

.pil_right {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../media/ikon_pil_right.svg);
}

.video {
  width: 100%;
  border-radius: 5px;
}
