img {
  height: auto;
  width: 100%;
  object-fit: cover;
  align-self: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS properties */
html {
  /* fonte */
  --F-h1: "Fira Sans Condensed", sans-serif;
  --F-h2: "Lato", sans-serif;
  --F-h3: "Alegreya Sans", sans-serif;
  --F-p: "Duru Sans", sans-serif;

  /* farver */
  --C-darkpurple: #4a1942;
  --C-purple: #893068;
  --C-lightpurple: #d0acc3;

  --C-darkgreen: #7c896f;
  --C-green: #a4b494;
  --C-lightgreen: #bec5ad;

  --C-black: #070606;
  --C-grey: #666666;
  --C-lightgrey: #cacaca;
  --C-white: #f7f7f7;

  /* padding og margin */
  --M-lrg: 3rem;
  --M-mdm: 2rem;
  --M-sml: 1rem;

  --P-lrg: 3rem;
  --P-mdm: 2rem;
  --P-sml: 1rem;
}

h1 {
  font-family: var(--F-h1);
}
h2 {
  font-family: var(--F-h2);
}
h3 {
  font-family: var(--F-h3);
}

p {
  color: blue;
  font-family: var(--F-p);
}

.lighttext {
  color: var(--C-lightgrey);
}
.darktext {
  color: var(--C-black);
}

/* INDEX */
#herosection {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  background-color: var(--C-green);
}

#backgroundblur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  filter: blur(30px);
}

/* .dot1 {
  height: 25%;
  width: 40%;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
}

.dot2 {
  height: 35%;
  width: 10%;
  background-color: purple;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 70%;
} */

/* HEROTEKST */
.herotext_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 14%;
  z-index: 10;
}

.herotext {
  width: 100%;
  height: 100%;
  color: var(--C-purple);
  font-size: 17cqw;
}

.subherotext_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 51.5%;
  left: 62%;
  z-index: 10;
}

.subherotext {
  width: 100%;
  height: 100%;
  color: var(--C-grey);
  font-family: var(--F-h2);
  font-size: 4cqw;
}

/* Bølger */
#wavesprites {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 11;
}

#wave1_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1920/1080;
  top: 6%;
}
#wave1 {
  width: 100%;
  height: 100%;
  background-image: url(/media/wave1.svg);
  background-size: cover;
}

#wave2_container {
  position: absolute;
  width: 90%;
  aspect-ratio: 16/9;
  top: 11%;
}
#wave2 {
  width: 100%;
  height: 100%;
  background-image: url(/media/wave2.svg);
  background-size: cover;
}

#wave3_container {
  position: absolute;
  width: 70%;
  aspect-ratio: 16/9;
  top: 25%;
}
#wave3 {
  width: 100%;
  height: 100%;
  background-image: url(/media/wave3.svg);
  background-size: cover;
}

#wave4_container {
  position: absolute;
  width: 60%;
  aspect-ratio: 16/9;
  top: 35%;
}
#wave4 {
  width: 100%;
  height: 100%;
  background-image: url(/media/wave4.svg);
  background-size: cover;
}

#wave5_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;
  top: 0%;
}
#wave5 {
  width: 100%;
  height: 100%;
  background-image: url(/media/wave5.svg);
  background-size: cover;
}

#section2 {
  background-color: #d0acc3;
  height: 40rem;
}
