.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.right {
  display: flex;
  justify-self: end;
}

.left {
  display: flex;
  justify-self: start;
}
@media (min-width: 1060px) {
  .col1 {
    display: grid;
    order: -1;
  }
  .col2 {
    display: grid;
  }
  .col3 {
    display: grid;
  }

  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: var(--D-mdm);
    margin-right: var(--D-mdm);
    gap: 5rem;
  }
  .grid1-1_no_mar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid5-4 {
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin-left: var(--D-mdm);
    margin-right: var(--D-mdm);
    gap: 2rem;
  }

  .grid4-1 {
    display: flex;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    margin-left: var(--D-mdm);
    margin-right: var(--D-mdm);
    width: auto;
  }
  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3cqw;
    margin-left: var(--D-mdm);
    margin-right: var(--D-mdm);
  }

  .flexcolumn1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flexcolumn2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 1060px) {
  #section2 {
    padding-left: var(--D-sml);
    padding-right: var(--D-sml);
  }

  #section3 {
    padding-left: var(--D-sml);
    padding-right: var(--D-sml);
  }

  .flexbox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Flexbox glæder både desktop og mobile */
.flexbox1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
