nav a {
  text-decoration: none;
  color: var(--C-darkpurple);
  font-family: var(--F-h3);
  transition: 0.1s linear;
}
nav .logo {
  width: 70%;
}

.headerflex {
  display: flex;
  justify-content: space-between;
  margin: var(--D-mdm);
}

.headerflex .menuflex {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: var(--D-mdm);

  margin-left: var(--D-sml);

  font-size: var(--S-smlr);
  border-radius: 10px;
  transition: 0.4s ease-out;
}

nav .menuflex a:hover {
  color: var(--C-purple);
  transform: scale(1.25);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.headerflex .menuflex:hover {
  background-color: var(--C-lightgreen);
  transition: 0.1s ease-in;
}
